.switch_style {
    border-bottom: 2px solid #828181;
    color: #828181;
    cursor: pointer;
}

.switch_style:hover {
    border-bottom: 2px solid #e3e1e1;
    color: #e3e1e1;
}

.switch_style:active {
    border-bottom: 2px solid #a6a4a4;
    color: #a6a4a4;
}


/* 布局 */
.flex {
    display: flex;
    justify-content: space-between;
}



.prompt{
    height: 92px;
    width: 400px;
    position:absolute;
    transform: translate(-50%,-50%);
    top:10%;
    left: 50%;
}

.btn{
    height: 60px;
    cursor: pointer;
}

.btn-back-size{
    height: 60px;
}

.img-close{
    width: 55px;
    height: 55px;
    padding: 5px;
}

.btn-back{

}



.prompt-pad{
    padding: 0 5px;
    font-weight: bold;
}

.prompt-important{
    color: #FB2C36;
}

.prompt-info{
    color: #DBEAFE;
}

.prompt-warning{
    color: #F0B100;
}

.prompt-success{
    color: #2B7FFF;
}

.prompt{
    z-index: 1000;
    height: 92px;
    width: 400px;
    position:absolute;
    transform: translate(-50%,-50%);
    top:10%;
    left: 50%;
}

.topic-error{
    color: #FB2C36;
}

.topic-success{
    color: #00A63E;
}

.topic-warning{
    color: #F0B100;
}

.cur-p{
    cursor: pointer;
}